* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.calculator {
  background-color: black;
  color: white;
  display: flex;
  width: 500px;
  height: 840px;
  padding: 20px;
  border-radius: 50px;
  align-items: center;
  flex-direction: column;
}
.display {
  background-color: grey;
  height: 250px;
  width: 100%;
  text-align: right;
  padding: 20px;
  font-size: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-radius: 50px;
}
.previous-display{
  font-size: 30px;
}
.buttons-container {
  display: grid;
  gap: 10px;
  /* background-color: rgb(47, 0, 255); */
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  margin-top: 1rem;
}

.button {
  background-color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
  border-radius: 100%;
  font-size: 45px;
  cursor: pointer;
  transition: 0.3;
}

.button.function {
  color: black;
  background-color: #a5a5a5;
}
.button.operator,
.button.equal {
  background-color: #f1a33c;
}
.button.number-0 {
  grid-column: 1 / span 2;
  justify-content: flex-start;
  width: 215px;
  border-radius: 55px;
  padding-left: 93px;
}
.button:active, .button:focus{

  filter: brightness(150%);
}
.button:hover{
  opacity: ;
}
